@import "@ignite-ui/tokens/css/tailwindcss";

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@theme {
  --animate-slide-in: slide-in 200ms ease-out;
  --animate-slide-out: slide-out 200ms ease-out;
}
